[2020-06-04 21:09] liquidz opened #6 "Custom output format"
To support GitHub Actions Annotations mainly.

[2020-06-04 21:10] liquidz opened #7 "Exclude option"

[2020-06-05 22:38] liquidz opened #8 "`memoize` is not working because of parallelism"
- https://github.com/liquidz/antq/blob/0.3.1/src/antq/ver/github_action.clj#L25
- https://github.com/liquidz/antq/blob/0.3.1/src/antq/core.clj#L51

[2020-06-06 00:11] liquidz commented on #6
For GitHub Actions:
[code]

[2020-06-06 23:54] liquidz commented on #6
Closed by #9

[2020-06-06 23:54] #6 closed

[2020-06-06 23:54] liquidz commented on #7
Closed by #9

[2020-06-06 23:54] #7 closed

[2020-06-06 23:54] liquidz commented on #8
Closed by #9

[2020-06-06 23:54] #8 closed

[2020-07-15 20:53] liquidz opened #10 "Support S3 repos"

[2020-07-19 21:36] liquidz commented on #10
Closed by #11

[2020-07-19 21:36] #10 closed

[2020-07-19 22:18] liquidz opened #12 "Failed to fetch information from S3 depending on the repository name?"

[2020-07-20 21:08] liquidz commented on #12
The repository URL for [s3-wagon-private](https://github.com/s3-wagon-private/s3-wagon-private) such as "s3p://..." seems to be the cause.

[tools.deps](https://clojure.org/reference/deps_and_cli#_maven_s3_repos) requires "s3://..." as a repository URL for S3 buckets, so we need to replace "s3p://" to "s3://".

[2020-07-20 22:47] liquidz opened #13 "Not to show "Downloading" messages"

[2020-07-20 23:24] liquidz commented on #13
https://github.com/clojure/tools.deps.alpha/blob/tools.deps.alpha-0.8.709/src/main/clojure/clojure/tools/deps/alpha/util/maven.clj#L159

[2020-07-20 23:48] liquidz commented on #12
Closed by #14

[2020-07-20 23:48] #12 closed

[2020-07-20 23:48] liquidz commented on #13
Closed by #14

[2020-07-20 23:48] #13 closed

[2020-07-24 03:59] maxp opened #16 "slf4j-simple dependency caused to crash"
I have a line in deps.edn `org.slf4j/slf4j-simple  {:mvn/version "1.7.30"}` and got an exception.

 "Execution error (ClassCastException) at unilog.config/start-logging! (config.clj:354).\nclass org.slf4j.impl.SimpleLogger cannot be cast to class ch.qos.logback.classic.Logger (org.slf4j.impl.SimpleLogger and ch.qos.logback.classic.Logger are in unnamed module of loader 'app')\n",

{:clojure.error/

[2020-07-24 04:01] maxp commented on #16
Full stack trace
https://gist.github.com/maxp/4403dcb3a623b87b728f1adf89162af5

[2020-07-28 04:00] maxp commented on #16
Looks like `unilog.config` strictly depends on lohback's Logger.
https://github.com/pyr/unilog/blob/master/src/unilog/config.clj#L339

[2020-07-28 05:31] liquidz commented on #16
@maxp Sorry for late reply!
I'll have a look!

[2020-07-28 07:08] liquidz commented on #16
@maxp I could reproduce the problem.
`unilog` is not mandatory, so I'll delete it from dependencies.

[2020-07-28 07:17] liquidz commented on #16
@maxp I've cut a new release.
https://clojars.org/antq/versions/0.5.3
Could you try ver 0.5.3?

[2020-07-28 11:30] maxp commented on #16
Works great!

[2020-07-28 20:31] liquidz commented on #16
Thanks for your confirmation!

[2020-07-28 20:31] liquidz commented on #16
Closed by #17

[2020-07-28 20:31] #16 closed

[2020-08-05 09:20] Wegi opened #19 "Request: Exit Code other than 0 on outdated dependencies"
Hi there,

thank you for this awesome tool.
Would it be possible to add a flag that activates an exit code other than 0, when any of the dependencies is outdated?
This would be useful in a CI, which automatically checks code for outdated dependencies.

[2020-08-05 09:27] Wegi commented on #19
I took a look in the code and it should exert this behavior, but it does not currently.
An outdated dependency is found, but the exit code is still 0.
[code]

[2020-08-05 09:34] Wegi commented on #19
I created a pull request, that should fix this behavior: https://github.com/liquidz/antq/pull/20

[2020-08-05 12:16] liquidz commented on #19
@Wegi Thanks for your reporting!

Oh, that's a regression in 0.6.0.
0.5.3 returned `1` if there are outdated dependencies.
https://github.com/liquidz/antq/blob/0.5.3/src/antq/format.clj#L64

Great catch! Thanks a lot!

[2020-08-05 12:26] liquidz commented on #19
@Wegi I've cut a new release :)

[2020-08-05 13:55] Wegi commented on #19
Perfect, thank you!

[2020-08-05 13:55] #19 closed

[2020-08-10 12:43] Wegi opened #21 "shadow-cljs file containing #shadow/env or #env crashes antq"
Shadow-cljs supports the #shadow/env and #env reader litteral (see: https://shadow-cljs.github.io/docs/UsersGuide.html#shadow-env). Antq crashes with the following error if one of those is used in the shadow-cljs.edn:

[code]

[2020-08-10 20:47] liquidz commented on #21
@Wegi Thanks for your reporting!
I'll fix it.

[2020-08-10 21:27] liquidz commented on #21
NOTE: shadow-cljs has only `shadow/env` and `env` readers for config file currently.
https://github.com/thheller/shadow-cljs/blob/2.10.21/src/main/shadow/cljs/devtools/config.clj#L102-L107

[2020-08-10 21:28] liquidz commented on #21
@Wegi I just cut a new release to fix this problem.
Could you try latest version?

[2020-08-11 06:22] Wegi commented on #21
Its solved :+1: Thank you very much.

[2020-08-11 06:22] #21 closed

[2020-08-28 23:29] pmonks opened #24 "More useful output for dependencies with git/sha coordinates?"
When used on a `deps.edn` based project that uses git/sha coordinates to select a dependency, we see output like this:
[code]

Are there plans afoot to check the latest version of dependencies expressed via git/sha coordinates?

I _believe_ this can be achieved using the [`git ls-remote` command](https://git-scm.com/docs/git-ls-remote.html).

[2020-08-28 23:40] liquidz commented on #24
@pmonks I've had a plan to support, but it was a low priority.

Now I've found you who needs it, so I'll try to support :)

[2020-08-29 01:08] liquidz commented on #24
@pmonks I tried to support in `dev` branch.
Could you try?

* checkout `dev` branch
* run `make uberjar` to generate `target/antq-standalone.jar`
* run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

[2020-08-29 02:06] pmonks commented on #24
Awesome! Should be able to check it out over the weekend.

[2020-08-30 00:52] pmonks commented on #24
👍 LGTM! 👍

I tested it with both out-of-date and current git/sha coordinates, and it correctly handled both.  Note that both of these dependencies were for public repositories - I don't currently have any easy way to test the fix against a private git/sha coordinate.

[2020-08-30 21:15] liquidz commented on #24
@pmonks Thanks for your confirmation!

I created a secret repo and tested as following.
* deps.edn
[code]
* confirm that `clj` works well
  * c.f. https://www.clojure.org/reference/deps_and_cli#_git
* confirm that antq can resolve HEAD

It seems good to me too 👍

[2020-08-30 21:24] liquidz commented on #24
I've cut a new release ☺️  #25

[2020-08-31 19:22] pmonks commented on #24
Awesome! Thanks for addressing this so quickly!

[2020-08-31 19:22] #24 closed

[2020-08-31 19:34] pmonks opened #26 "GitHub dependencies Action no longer functional after fix for issue #24"
The fix for issue #24 has resulted in the GitHub `dependencies` Action no longer functioning.  The specific error is:
[code]

Sorry for not thinking to test this until now!

[2020-08-31 19:35] pmonks commented on #26
BTW I'm googling how to ensure `git` is installed in a GitHub Action container - will report back with my findings.

[2020-08-31 21:28] liquidz commented on #26
@pmonks Thanks for your reporting and contribution!

I created a new tag `0.7.1`, so dockerhub will start building soon.
https://hub.docker.com/r/uochan/antq/builds
(It seems `latest` tag is already built)

[2020-08-31 23:56] pmonks commented on #26
Awesome!  Tested it out, and it appears to be working great now.

[2020-08-31 23:56] #26 closed

[2020-09-05 03:47] maxp opened #29 "Failed to load class "org.slf4j.impl.StaticLoggerBinder""
Annoying message appears at start
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

Adding `org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}` to deps solves the problem, but it is not mentioned in README.

[2020-09-05 20:34] liquidz commented on #29
@maxp Thanks!
I'll update README

[2020-09-05 22:10] liquidz commented on #29
Closed by #30

[2020-09-05 22:10] #29 closed

[2020-10-08 10:47] dharrigan opened #33 "failed to fetch on `local/root` project coordinate"
Hi,

I pull in several other custom libraries by specifying the `:local/root` directive in my `deps.edn`.

For example, in my `deps.edn`:

[code]

When `antq` is run against the `deps.edn`, the following is shown:
[code]

Perhaps `:local/root` should be ignored as part of the resolution process?

Thank you!

-=david=-

[2020-10-08 10:52] liquidz commented on #33
@dharrigan Thanks for your reporting!

You're right. I'll fix to ignore.

[2020-10-08 11:11] liquidz commented on #33
@dharrigan I fixed in `dev` branch.
Could you try?

* checkout `dev` branch
* run `make uberjar` to generate target/antq-standalone.jar
* run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

[2020-10-08 11:21] dharrigan commented on #33
Hi,

Looks good!

[code]

On master branch:

[code]

All good! Thank you for the prompt turnaround!

-=david=-

[2020-10-08 11:32] liquidz commented on #33
@dharrigan Thanks for your confirmation!

I just released ver 0.7.4 #34

[2020-10-10 05:10] #33 closed

[2020-10-13 11:41] thecontinium opened #35 "Exception Thrown on onyx-kafka"
Hi

When running `lein outdated` on [onyx-kafka](https://github.com/onyx-platform/onyx-kafka) I get the following exception thrown:

`Exception in thread "main" java.lang.RuntimeException: Unable to resolve symbol: qualified-symbol? in this context, compiling:(antq/dep/boot.clj:36:40)
`

Please advise.

Thanks

Stack Trace:

[code]

[2020-10-13 11:59] liquidz commented on #35
@thecontinium Thanks for your reporting!

onyx-kafka seems to depend on clojure 1.8

https://github.com/onyx-platform/onyx-kafka/blob/0.14.x/project.clj#L14

And `qualified-symbol?` is available since 1.9

https://clojuredocs.org/clojure.core/qualified-symbol_q

So you need to add clojure 1.9 or later to `outdated` profile.

[2020-10-13 15:47] lucywang000 opened #36 "feature request: upgrade the deps like `lein ancient upgrade` ?"
I've been using [lein-ancient](https://github.com/xsc/lein-ancient) to upgrade deps in project.clj, but it obviously only supports lein, and I really miss such a tool for detecting outdated deps in shadow-cljs.edn until I find antq.

But antq seems to only able to list the outdated deps, and not able to update it automatically.

Is it feasible to implement this functionality, e.g using the [rewrit

[2020-10-13 20:46] liquidz commented on #35
Currently no.
antq ignores clojure itself automatically for now.
https://github.com/liquidz/antq/blob/0.7.4/src/antq/core.clj#L28-L29

This is because the version of clojure who want to use depends on the library.
But we have `--exclude` option, so it may not be needed.

[2020-10-13 20:55] liquidz commented on #36
@lucywang000 Thanks for your suggestion!

I have a plan to support the feature, but I haven't started yet. (PR is very welcomed)

antq supports also YAML(GitHub Actions) and XML(pom.xml), so it may needed some other libraries too.
It's hard to deal with them all from the start, so I'll deal with them in stages.

[2020-11-19 07:57] bbatsov opened #39 "Error when running in the REPLy project"
I got a weird error when running antq on https://github.com/trptcolin/reply

[code]

That's with the latest version of antq. It seems to run fine on other projects I've tried it with.

[2020-11-19 07:59] liquidz commented on #39
@bbatsov clojure 1.7.0 may be the cause

[2020-11-19 07:59] bbatsov commented on #39
If I had to guess it's probably because REPLy targets Clojure 1.7 and antq is probably targetting some newer version, but that was unclear from the CI/docs.

[2020-11-19 07:59] bbatsov commented on #39
Hah, it seems we wrote this at the same time. :-)

[2020-11-19 08:02] bbatsov commented on #39
After testing it seems that antq requires current Clojure 1.9. Not sure if that's a hard dep or something that can be adjusted.

[2020-11-19 08:08] liquidz commented on #39
Thanks :)
I'll have a look.

[2020-11-19 08:45] liquidz commented on #39
Supporting Clojure 1.8.0 is easy.

Prior to 1.7.0, as shown in the State of Clojure 2020 results, not many people use it, so I'll update to show a warning message.
https://clojure.org/news/2020/02/20/state-of-clojure-2020

[2020-11-19 09:40] liquidz commented on #39
I tried to support Clojure 1.8 and add warning on Clojure 1.7 or earlier in `dev` branch.

I'll update documents tomorrow.

[2020-11-19 12:05] bbatsov commented on #39
Thanks!

[2020-11-27 23:09] liquidz commented on #39
Added suuport for Clojure 1.8 and warning on Clojure 1.7 or earlier by #40

[2020-11-27 23:09] #39 closed

[2020-11-27 23:12] liquidz commented on #36
@lucywang000 I just added `--upgrade` option to antq v0.9.0 by #40
Currently upgrading YAML(GitHub Actions) is not supported yet, but other formats are supported!

Any problems, feel free to reopen this issue :)

[2020-11-27 23:12] #36 closed

[2020-11-28 06:48] bbatsov commented on #39
Thanks!

[2020-12-03 20:59] eneroth opened #42 "Upgraded to 'null'"
Antq will sometimes update to "null" for deps like ions/dev-local or git deps. I imagine "null" will rarely be a real version, so perhaps it would be safe to skip these updates?

[code]

[2020-12-03 21:12] liquidz commented on #42
@eneroth Thanks for your reporting!

Oh sorry, it's a known bug (I forgot to open a issue)

Right. I'll fix to skip upgrading artifacts which cannot fetch the version.

[2020-12-04 22:10] liquidz commented on #42
@eneroth I fixed in `dev` branch.
Could you try following steps?

- run `make uberjar` to generate target/antq-standalone.jar
- run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

[2020-12-04 22:41] eneroth commented on #42
Checked out 8876d3ad9f02fc2fbe5207e26c2312282523c0b9, did the above with `--upgrade` and `--force`, and it bumped the one dep it could fetch a new version for, skipping the three duds. 👍

It seems to work as intended.

[2020-12-04 22:56] liquidz commented on #42
Thanks for your confirmation!

[2020-12-04 23:09] liquidz commented on #42
Just released 0.9.2 #43

[2020-12-04 23:09] #42 closed

[2020-12-06 20:01] jr0cket opened #44 "Aliases with :replace-deps do not report updates"
#### Description :octocat:
Aliases that include a dependency via the `:replace-deps` key are not checked for newer versions.  Tested with the 0.9.2 version of antq

#### Reproduction guide :beetle:
Add an alias to the user level configuration that adds the antq library via the `:replace-deps` key, using a version less than the current, e.g. 0.9.1
[code]

Run the clojure command with the alias
[cod

[2020-12-06 20:31] liquidz commented on #44
@jr0cket Thanks for your reporting!

Here may be the cause.
https://github.com/liquidz/antq/blob/0.9.2/src/antq/dep/clojure.clj#L38
Adding `:replace-deps` should work, but I have no time for now.
So I'll try tonight.

[2020-12-06 22:02] jr0cket commented on #44
Oh, it is very simple to add, so I created a PR after testing it on my every growing  https://github.com/practicalli/clojure-deps-edn configuration.

I added a :hack/antq alias to test it locally, using a local root config
[code]

[2020-12-07 03:10] #44 closed

[2020-12-07 03:13] liquidz commented on #44
@jr0cket Just released v0.9.3

[2020-12-09 21:02] pmonks opened #47 "Doesn't appear to work correctly in the presence of -RC versions"
I have some code that was depending on a release candidate of a published open source library, specifically `org.suskalo/discljord {:mvn/version "1.2.0-RC1"}`.  As can be seen, this version string follows the standard Maven representation of a release candidate, by using a "-RC#" suffix.

Today the developer of this library announced that the GA version of v1.2.0 had been released, with the follow

[2020-12-09 21:06] liquidz commented on #47
@pmonks Thanks for your reporting!

It may be version comparing problem.
https://github.com/liquidz/antq/blob/0.9.3/src/antq/ver/java.clj#L72

I'll have a look.

[2020-12-09 21:23] liquidz commented on #47
@pmonks I couldn't reproduce the problem.

[code]

Could you tell me minimum steps to reproduce?

[2020-12-10 00:53] pmonks commented on #47
Yep that's pretty much exactly what I've got here (albeit with more dependencies than just `org.suskalo/discljord`).

Might it have been a (temporary) caching issue?  `org.suskalo/discljord "1.2.0"` was only published today and I was checking within 30 minutes or so of it being deployed, so if antq uses any kind of local Maven metadata, or relies on a Maven artifact repository (Clojars, in this ca

[2020-12-10 07:27] liquidz commented on #47
Maybe so.

antq depends on [maven-resolver-api](https://maven.apache.org/resolver/index.html) through [tools.deps.alpha](https://github.com/clojure/tools.deps.alpha).
https://github.com/liquidz/antq/blob/0.9.3/src/antq/ver/java.clj#L51-L66

Fetched versions also depends on this library, so I don't understand exactly where this library is using caches.

[2020-12-10 22:03] pmonks commented on #47
Ok no worries.  I do know that caching (and things like derived index files that may lag actual library publication) is part of the Maven experience, so I'll just chalk it up to that and close the issue.

Oh and thanks again for `antq` - it's bloody great!

[2020-12-10 22:03] #47 closed

[2020-12-29 09:05] dharrigan opened #50 "Dependency is not upgraded if appears more than once in deps file"
[code]

If one has a `deps.edn` file like this:

[code]

On running `clj -M:antq` with this alias:

[code]

Only the first dependency is upgraded, with the second one being ignored. If `uberjar` is commented out, then the second one is upgraded (and vice versa).

[2020-12-29 09:11] dharrigan opened #51 "Upgrade does not honour `replace-deps` when upgrading dependencies."
If an alias uses this

[code]

And `antq` is run like this:

[code]

Notice that the `depstar` has apparently been upgraded to `2.0.165`, yet upon cat'ing the `deps.edn` file the version is still `2.0.161`.

Changing `replace-deps` to `extra-deps` causes the `deps.edn` file have the dependency version successfully changed to `2.0.165`, therefore it appears that the upgrade doesn't know how to hand

[2020-12-29 09:27] liquidz commented on #51
@dharrigan Thanks for your reporting!
I fixed in `dev` branch, so could you try following steps?

- pull `dev` branch
- run `make uberjar` to generate target/antq-standalone.jar
- run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

[2020-12-29 09:34] dharrigan commented on #51
Confirmed fixed. Thank you :-)

[2020-12-29 10:32] liquidz commented on #50
@dharrigan Hmm.. It seems to work well in my environment.

[code]

[2020-12-29 15:56] dharrigan commented on #50
That's interesting. I'm able to reproduce it 100%

I discovered that if I put another entry before the `uberjar`, it fails, but if the `uberjar` etc., is at the start, as in your example, it works...

i.e., with this `deps.edn`:

[code]

Then it upgrades successfully, but with *this* deps.edn, it does not...

[code]

So it appears that having an entry prior to the duplcate jar deps entry, causes t

[2020-12-29 21:45] liquidz commented on #50
That's weird... It work for me.

[code]

Ah... if one of the same entries has the latest version, the version check may not work properly, so maybe this is the cause?

[code]

[2020-12-29 21:46] dharrigan commented on #50
Ah, that sounds like you've found the problem! :)

[2020-12-29 21:47] liquidz commented on #50
I'll fix it. thanks!

[2020-12-29 23:21] liquidz commented on #50
@dharrigan I tried to fix in `dev` branch.
Could you try `dev` branch?

[2020-12-30 06:38] dharrigan commented on #50
Hi!

Confirm fixed :-) Arigato!

[2020-12-30 07:51] liquidz commented on #50
@dharrigan Thanks for your confirmation!
I just cut a new release #52

[2020-12-30 07:51] #50 closed

[2020-12-30 07:52] liquidz commented on #51
I just cut a new release #52

[2020-12-30 07:52] #51 closed

[2021-01-26 14:39] carrete opened #54 "Cannot update dependencies in a password protected maven repo."
I'm using Datomic dev-local, https://docs.datomic.com/cloud/dev-local.html, which uses a password protected maven repo.

I have a ~/.m2/settings.xml that includes:
[code]

a pom.xml that includes:
[code]

and a deps.edn that looks like:
[code]

Everything works with tools.deps. Only antq appears to have a problem. For example:
[code]

One possible theory is that this is because "antq is using tool

[2021-01-26 22:20] liquidz commented on #54
@carrete Thanks for your reporting!
I'll have a look.

[2021-01-28 21:43] liquidz commented on #54
maven-metadata.xml for `com.datomic/dev-local` may not be provided?
https://dev-tools.cognitect.com/maven/releases/com/datomic/dev-local/maven-metadata.xml

[2021-01-29 13:25] carrete commented on #54
I'll ask on the #datomic channel in Clojurians on Slack.

[2021-01-29 13:31] puredanger commented on #54
s3 repos typically do not provide maven-metadata.xml and LATEST won’t work on them.

[2021-01-29 13:34] carrete commented on #54
Thanks @puredanger. @liquidz, feel free to close this issue

[2021-01-29 21:04] lread opened #55 "org.clojure/clojure not reported as out of date"
Given an empty directory with the following `deps.edn`
[code]

When I run antq in the same directory I get:
[code]

I expected to also see that Clojure 1.10.2 is available.

[2021-01-29 21:25] liquidz commented on #54
@carrete Thanks for confirmation!
BTW, I used [sonatype/nexus3](https://hub.docker.com/r/sonatype/nexus3) to confirm password protected maven repo can be checked by antq, and it works well 😄

[2021-01-29 21:25] #54 closed

[2021-01-29 21:50] carrete commented on #54
I shouldn't have assumed it was a password related issue. ☹️ If you'd like @liquidz, I'd be happy to submit a pull-request to update the README with a note about S3 repos.

[2021-01-29 21:59] liquidz commented on #55
@lread `org.clojure/clojure` is skipped by default, because it is common for me to specify an older version for testing multiple clojure versions.
https://github.com/liquidz/antq/blob/0.10.2/src/antq/core.clj#L66-L67
https://github.com/liquidz/antq/blob/0.10.2/deps.edn#L15-L16

But it is also good to provide a option not to skip clojure itself 👍
(or you can use `--focus` option to force checking.

[2021-01-29 22:02] liquidz commented on #54
@carrete pull-request is very welcomed ☺️

[2021-01-29 22:07] liquidz commented on #54
@carrete BTW S3 repo in my company has `maven-metadata.xml`, so I don't necessarily think `maven-metadata.xml` doesn't exist in S3 repo.

[2021-01-29 22:11] lread commented on #55
Interesting! Thanks for the reply.

I specify multiple versions of Clojure for testing.
But I always also include the latest version too, sometimes even a release candidate.

Would this maybe make sense?:
1. By default report if there is a newer version available than the latest version of `org.clojure/clojure`that I have specified in my deps.edn
2. Users can use the `--exclude` option if they wan

[2021-01-29 22:12] lread commented on #55
And also thanks for antq, I really enjoy using it! ❤️

[2021-01-29 22:18] liquidz commented on #55
Make sense. Thanks!

Latest clojure version should be reported certainly.
I'll fix it.

[2021-01-29 23:18] liquidz commented on #55
@lread I tried to fix in `dev` branch.
Could you try?

[2021-01-30 00:25] lread commented on #55
Thanks @liquidz! I've given a sanity test over here on a few projects via:
[code]
And it looks great to me!

I did notice a couple of things which are likely not directly related to this issue and may be me just not understanding implications/details.  Please take with a grain of salt:

**:override-deps ignored?**
One thing I did notice is that if I use `:override-deps` then `org.clojure/clojure`

[2021-01-30 00:47] liquidz commented on #55
@lread Thanks for confirmation!

Yeah, I should add `:override-deps` here.
https://github.com/liquidz/antq/blob/0.10.2/src/antq/dep/clojure.clj#L38

Oh, nice catch!
`qualified-symbol?` is available since 1.9, and it seems rewrite-cljc-playground is using it.

https://github.com/lread/rewrite-cljc-playground/blob/master/src/rewrite_cljc/node/token.cljc#L13

Do you have a plan to make rewrite-cljc-p

[2021-01-30 00:56] lread commented on #55
Current plan is to support Clojure 1.9 and above.
But if the community speaks, I will listen! 👂

Thanks back at you for the cool work you do!
I am currently merging rewrite-cljc-playgound work into [clj-commons/rewrite-clj](https://github.com/clj-commons/rewrite-clj).

[2021-01-30 07:47] liquidz commented on #55
@lread Thanks for confirmation!

I fixed `--upgrade` option only to work with Clojure 1.9.0 or later.
So checking outdated deps should work with Clojure 1.8.0.

`:override-deps` problem is also fixed in `dev` branch.

[2021-01-30 14:23] puredanger commented on #54
It depends entirely on how the jars get put in the s3 repo. Many people just upload jar/Pom to a bucket and then you won’t have it. If the upload process creates or uploads a metadata file, then it will.

[2021-01-30 16:00] carrete commented on #54
Thanks @puredanger

[2021-01-31 16:48] lread commented on #55
Nice work @liquidz! I retried my tests above and all seems good now.

[2021-01-31 20:40] liquidz commented on #55
Thanks!

Just released v0.10.3 #56

[2021-01-31 20:40] #55 closed

[2021-02-05 23:43] seancorfield opened #58 "0.11.0 fails if it cannot figure out a git version"
Running this on our codebase at work produces:
[code]
(I think this must be a transitive dependency that something brings in)

Here's the top of the stack trace for more context:
[code]

[2021-02-05 23:44] seancorfield commented on #58
I suspect this code should use `some->` for at least some parts: https://github.com/liquidz/antq/blob/ffaa6abbfb6305f264bc71de595326d8803454a8/src/antq/diff/java.clj#L58-L65

[2021-02-05 23:47] seancorfield commented on #58
I suspect this code should use `some->` for at least some pieces: https://github.com/liquidz/antq/blob/ffaa6abbfb6305f264bc71de595326d8803454a8/src/antq/diff/java.clj#L58-L65

[2021-02-05 23:49] liquidz commented on #58
@seancorfield Thanks!
I fixed in `dev` branch. Could you try?

[2021-02-06 00:07] liquidz commented on #58
I've released v0.11.1 for now.

[2021-02-07 20:43] #58 closed

[2021-02-26 22:25] liquidz opened #60 "Detect versions in third party github actions"
It is useful if web can detect outdated versions in third-party github actions like follows.

- https://github.com/DeLaGuardo/setup-clojure
- https://github.com/DeLaGuardo/setup-clj-kondo
- https://github.com/0918nobita/setup-cljstyle

[2021-02-27 13:08] p-himik opened #61 "Incorrect GitHub diff URL for deps with `:git/url` that ends in `.git`"
My `deps.end` has this dependency in it:
[code]
An abridged output of antq:
[code]

Notice how the URL includes `kick.alpha.git` whereas it should be just `kick.alpha`.

[2021-02-27 22:39] liquidz commented on #61
@p-himik Thank you for reporting!
Oh I missed that GitHub adds ".git" to the end of default clone URL.

[2021-02-27 22:43] p-himik commented on #61
Yeah, but note that it's optional - one can remove `.git` and it will work just fine.
I wonder if you could create projects that have their name ending in `.git`. Then there's a possibility for a URL that ends in `.git.git` and a solution that just removes that `.git` part won't work.

[2021-02-27 22:46] liquidz commented on #61
It may be no problem.
![image](https://user-images.githubusercontent.com/6941/109402409-01acef80-7999-11eb-917b-456a359c064c.png)

[2021-02-27 23:19] liquidz commented on #61
@p-himik I just released v0.11.2 ☺️  #62

[2021-02-27 23:25] p-himik commented on #61
Awesome, thanks!

[2021-02-27 23:25] #61 closed

[2021-03-09 20:58] liquidz opened #63 "Detect dependencies which has unverified group name"
It will be a disallow list simply for now.
e.g. `seancorfield/next.jdbc` => `com.github.seancorfield/next.jdbc`
c.f. [Clojars Verified Group Names policy](https://github.com/clojars/clojars-web/wiki/Verified-Group-Names)

[2021-03-11 22:44] liquidz opened #64 "Move to clj-commons/rewrite-clj"
lread/rewrite-cljc-playground is archived and migrated to clj-commons/rewrite-clj

[2021-03-13 09:05] liquidz commented on #63
@nnichols
Hi,

I have a plan to release this feature.
In this feature, I will change the output a little with `format` reporter.

For example, if you have `seancorfield/next.jdbc {:mvn/version "1.1.613"}`  in you deps.edn, antq will report like follows.
[code]

In [clojure-dependency-update-action](https://github.com/nnichols/clojure-dependency-update-action), reports containing `"Failed to fetch"

[2021-03-13 16:56] nnichols commented on #63
@liquidz I updated the Action with this commit https://github.com/nnichols/clojure-dependency-update-action/commit/0fc9b2d37c8ed27cac56a152fa7209f3c800bca5 and was able to successfully run a few test cases in a sample repo.

Thanks for this update!!

[2021-03-13 20:42] liquidz commented on #63
@nnichols Thanks for your confirmation!

[2021-03-13 22:57] liquidz commented on #60
Closed by #65

[2021-03-13 22:57] #60 closed

[2021-03-13 22:58] liquidz commented on #63
@nnichols FYI: I just released v0.12.0 :)

[2021-03-13 22:58] liquidz commented on #63
Closed by #65

[2021-03-13 22:58] #63 closed

[2021-03-13 22:58] liquidz commented on #64
Closed by #65

[2021-03-13 22:58] #64 closed

[2021-03-15 01:15] liquidz opened #66 "SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder" in latest docker image"
`-A:nop` doesn't work well?
https://github.com/liquidz/antq/blob/0.12.0/Makefile#L25

[2021-03-15 02:00] liquidz commented on #66
https://github.com/seancorfield/depstar#classpath
`:aliases '[:nop]'`

[2021-03-15 04:30] #66 closed

[2021-03-16 15:24] pmonks opened #67 "Github actions: "latest" dependency version label causes false positive"
In my `.github/workflows/build.yml` I have the following:

[code]

This causes antq v0.12.0 to emit the following false positive:

[code]

[2021-03-16 20:58] liquidz commented on #67
@pmonks Thanks for your reporting!
I just released v0.12.1 to fix this problem #68

[2021-03-16 20:59] pmonks commented on #67
Testing now - thanks @liquidz for looking at this so quickly!

[2021-03-16 21:16] pmonks commented on #67
Working great now! Thanks again!!

[2021-03-16 21:16] #67 closed

[2021-03-25 18:33] lread opened #70 "Consider GitHub Actions variables"
When I run antq on rewrite-clj, I get:
[code]
My GitHub Actions workflow has:
[code]
I suppose antq could figure out possible variables for `${{ matrix.graal }}`:
[code]
But perhaps easier to just ignore this case?

[2021-03-25 22:01] liquidz commented on #70
@lread Thanks for your reporting!
I'll consider how to deal with it.

[2021-03-27 22:57] liquidz commented on #70
@lread I tried to support `matrix` in [dev](https://github.com/liquidz/antq/tree/dev) branch.

Could you try?
- checkout `dev` branch
- run `make uberjar` to generate target/antq-standalone.jar
- run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

[2021-03-29 16:02] lread commented on #70
@liquidz just tried it out!

I just noticed I am not following the latest conventions for the setup-graalvm action, I use:
[code]

Whereas the current docs show:
[code]

So the fact that antq even found my graalvm version is pretty impressive.

If I downgrade my current matrix.graal to `[ 21.0.0.1.java8, 21.0.0.1.java11 ]`, I get:

[code]

This helpfully tells me I could be using a later version o

[2021-03-29 20:46] liquidz commented on #70
@lread Thanks!

Oh, thanks for your notification!
I fixed it in `dev` branch (5921a56)

[graalvm/graalvm-ce-builds](https://github.com/graalvm/graalvm-ce-builds/tags) has `vm-` prefix in tags.
antq compares the version number and latest tag name, so it displays as such for now.

[2021-03-30 22:54] liquidz opened #71 "Support bb.edn"
https://book.babashka.org/index.html#_bb_edn

[2021-03-31 21:54] lread commented on #70
Thanks @liquidz, your fix on dev looks good from here!

[2021-04-01 21:22] liquidz commented on #70
@lread Thanks for your confirmation!
I just released 0.12.4

[2021-04-01 21:22] #70 closed

[2021-05-07 19:26] lread opened #75 "Consider supporting blacklisting a specific dependency version"
Still loving antq, thanks @liquidz!

Scenario: I am using antq to check for outdated dependencies. I reports that there is a new version v of dependency d.  I discover though that there is a serious enough bug in dependency d version v that'd I do not want to upgrade.

Ideally I'd like to tell antq to no longer tell me about dependency d version v being available. I'm just not interested.
I am, th

[2021-05-08 01:35] liquidz commented on #75
@lread Thanks for your suggestion!

Indeed.
Sometimes I'd like to ignore specific version.
The feature will help me too :)

We have already [--exclude](https://github.com/liquidz/antq#--excludeartifact_name) option to ignore specific dependency, so for example, we can extend this option to be able to specify version like `--excude=d@v`.
(I believe the `dep@version` format is common because it is u

[2021-05-08 18:53] lread commented on #75
Yeah, I think that'd work well @liquidz.  I currently only see need to blacklist one version, I think(?).

Here's a nuance: Let's say I am at version 1.1.0 of lib x and the current release version is 1.1.2. I know I don't want 1.1.2, so I exclude x@1.1.2.  If there is a v1.1.1 also available, would antq recommend v1.1.1?  Or I am I really excluding v1.1.2 and all version before it?

[2021-05-08 20:33] liquidz commented on #75
@lread

It seems intuitive that `x@1.1.2` excludes only v1.1.2.
So v1.1.1 should be reported as available. (because v1.1.0 is outdated)

antq has a version list internally, and it shouldn't be too hard.

[2021-05-08 22:11] lread commented on #75
Sounds good! So if we were wanting to exclude multiple versions of lib x, I would simply specify both `--exclude=x@1.1.1` and `--exclude@1.1.2`

[2021-05-09 00:16] liquidz commented on #75
@lread I've not tested enough yet, but I've tried to add the feature in `dev` branch.

[2021-05-11 21:43] liquidz commented on #75
Just released v0.14.0 #76
Feel free to reopen it you have any problems :)

[2021-05-11 21:43] #75 closed

[2021-05-27 21:58] lread opened #78 "Consider versioning pinning support?"
My scenario:

The minimum version of Clojure for rewrite-clj is 1.9.0.
This is therefore what ends up in my pom.xml.
My deps.edn, though, references other versions of Clojure to support testing.

I like that antq tells me when there is a newer version of Clojure when it analyzes my deps.edn.
But when it analyzes my pom.xml, I don't need to know that there is a newer version of Clojure.

I started

[2021-05-28 22:20] liquidz commented on #78
@lread Thanks for your suggestion!

Since it is a case testing multiple versions and talking about the minimum versions of them, I'm assuming this is a problem limited to Clojure itself. (right?)

I think so too for now.
In my opinion, it is a problem about dependencies between files. (in this case, deps.edn and pom.xml)

If I had to do it, it would be this.
But, for me, it should be solved by spe

[2021-05-28 22:28] lread commented on #78
Thanks for the reply @liquidz!

Yes, good point!

Hmm... that is an interesting idea!

Much thanks for reviewing my scenario, and am happy with the way antq behaves now.

[2021-05-30 15:14] vemv opened #79 "Leiningen approach can be refined"
Checking out https://github.com/liquidz/antq/blob/400215d5e3edf61ac2cb3b993b9477ac7e69a061/src/antq/dep/leiningen.clj, the approach to checking project.clj doesn't quite seem idiomatic. project.clj is not data, but _code_ meant to evaluated in a specific context. Treating it as data results in reduced accuracy and flexibility.

Three specific items can be pointed out:

* eval won't work (one can u

[2021-05-31 08:52] liquidz commented on #79
@vemv Thanks for your suggestion!

I'm not going to deprecate the current approach because I want to keep a way to run it without Leiningen, but I know it's not accurate as you said.
So I agree with adding the Leiningen plugin as a more accurate way while keep the existing approach.

Great! PR is very welcomed.

[2021-06-02 20:45] #79 closed

[2021-06-03 07:40] aadrian opened #83 "Support Gradle?"
Hi

Any chance supporting **Gradle** too? _(since Maven is supported)_
https://docs.gradle.org/current/userguide/viewing_debugging_dependencies.html

Gradle is being used with or without a Clojure specific plug-in https://clojurephant.dev/clojurephant/ for Clojure/ClojureScript projects.

Thank you.

[2021-06-03 08:40] vemv opened #84 "Link to changelogs when available"
Hi again,

I liked this feature:

[code]

Additionally, one could try printing https://github.com/clojure/clojure/blob/clojure-1.10.3/changes.md if that file exists (as of that tag). A few filenames could be atttempted to be fetched:

* `changes.md`
* `CHANGELOG.md`
* `CHANGELOG.adoc`

and so on. I checked that one can query those files via HEAD so as not to spam much github's servers.

WDYT? I co

[2021-06-03 20:49] liquidz commented on #83
@aadrian Thanks for your suggestion!

Yes, I thought about supporting it once, but I didn't use Gradle, so I put it off.
Do you know `build.gradle` parser library that is often used?

If there is a library which can rewrite `build.gradle`, we can support upgrading dependencies too.

[2021-06-03 20:58] liquidz commented on #84
@vemv Thanks for your suggestion!

Oh, it is the feature I've been wanteded for a long time! (I didn't have time to start yet)

Great!

[2021-06-03 21:04] vemv commented on #84
Nice! I'll try to contribute it sometime this week

[2021-06-04 07:28] aadrian commented on #83
@liquidz I'm not aware of any 3rd party libraries that could "parse" a `build.gradle` since that file is not a configuration file but a DSL that gets executed/interpreted by Gradle (and it can contain dynamic parts and modules, or can be scripted).

 _(So it's important not just what it's declared there, but what gets interpreted/solved when executed - similar to a Maven BOM .)_

For that to be co

[2021-06-04 21:24] liquidz commented on #83
@aadrian Thanks for your confirmation!

Good to know.
`gradle` command is needed for Gradle project anyway, so using the results of `gradle dependencies` seems good for me (however we can't support upgrading)

It looks appropriate to use the following command results, but is it common to specify `devRuntimeClasspath` ?

[code]

[2021-06-05 08:15] aadrian commented on #83
@liquidz

That's not a big issue.

Just getting a list of outdated dependencies would be extremely useful.

Not in my experience so far, just `gradle dependencies` since it shows everything needed.

Many just have a Git Hook on Gradle files (`build.gradle`, `settings.gradle`, `gradle.properties`) changes to commit the `gradle dependencies > deps.txt` file too. This way 3rd party, or transitive, or

[2021-06-05 21:14] liquidz commented on #83
@aadrian Thanks!

OK.
`gradle dependencies` outputs a lot of information, so I was hoping to filter it if I could.

I'll try to use `gradle dependencies` simply.

[2021-06-07 21:35] liquidz commented on #83
@aadrian I'm trying to support Gradle in [feature/gradle](https://github.com/liquidz/antq/compare/feature/gradle) branch.

Seems to be good for now :)
<img width="738" alt="screen_shot_2021-06-08 6 31 57" src="https://user-images.githubusercontent.com/6941/121090506-a73aef00-c823-11eb-852f-d3bc8783ff31.png">

[2021-06-08 05:53] aadrian commented on #83
@liquidz wow ! This looks great!

[2021-06-09 03:41] vemv commented on #84
FYI I'm progressing well with this feature :) hope to open a PR in a few days

[2021-06-10 21:31] liquidz opened #88 "Change link to docker images"
c.f. https://www.docker.com/blog/changes-to-docker-hub-autobuilds/

We already have a workflow for GitHub Container Registry.
* https://github.com/liquidz/antq/blob/main/.github/workflows/docker.yml
* https://github.com/users/liquidz/packages/container/package/antq

[2021-06-15 13:22] latacora-gabriel opened #89 "Exception thrown with bb.edn"
Hi,
  Thanks for the handy library and github action! I encountered an exception with a bb.edn like the following:

[code]
Running a clojure alias as [described in the readme](https://github.com/liquidz/antq#clojure-cli-tool) results in

[code]
If I rename :deps to :depz the error goes away.
A secondary issue I encountered was that adding `--skip babashka` didn't allow me to turn off bb. I ended u

[2021-06-15 21:55] liquidz commented on #89
@latacora-gabriel Thanks for your reporting!
I'll fix them.

[2021-06-16 21:19] liquidz commented on #89
@latacora-gabriel Just released 0.15.3 #90

[2021-06-21 20:56] liquidz commented on #83
@aadrian Sorry for late action.
I've supported Gradle in [feature/gradle](https://github.com/liquidz/antq/tree/feature/gradle) branch.
Could you try this branch?

- run `make uberjar` to generate target/antq-standalone.jar
- run `java -jar /path/to/your/antq/repo/target/antq-standalone.jar` in your project directory

BTW, do you know how to print repositories which is defined in build.gradle via `

[2021-06-22 09:58] aadrian commented on #83
@liquidz When having more complex projects and using more than one repo, some add this task:
[code]
so that one can call just `gradle listrepos` from the CLI.

[2021-06-22 20:13] latacora-gabriel commented on #89
Confirmed this fixed my issue. Thanks! 🎉

[2021-06-22 20:13] #89 closed

[2021-06-22 21:19] liquidz commented on #83
@aadrian Thanks!
Hmm, there is no way without updating build.gradle after all.
It may be good to put it together as a setup steps.

[2021-06-25 21:25] lread commented on #78
@liquidz I am uncertain of proper etiquette, but I think I should close this issue?
If this was not the case, apologies, please reopen.

[2021-06-25 21:25] #78 closed

[2021-06-25 22:04] #88 closed

[2021-06-25 22:18] liquidz commented on #83
@aadrian Could you review setting up steps?
https://github.com/liquidz/antq/blob/feature/gradle/doc/gradle.adoc

If you OK, I'll merge #91 and release :)

[2021-06-26 21:04] liquidz commented on #78
@lread I wasn't sure if the problem had been solved, so I left it.
It's OK to close. Thanks!

[2021-06-26 21:04] liquidz commented on #71
Already supported

[2021-06-26 21:04] #71 closed

[2021-07-09 22:00] liquidz commented on #83
@aadrian ping :)

[2021-07-09 22:01] liquidz opened #93 "Support :git/tag and :git/sha for deps.edn"
c.f. https://clojure.org/reference/deps_and_cli#_dependencies

[2021-07-09 22:03] liquidz opened #94 "Support inferring :git/url"
c.f. https://clojure.org/reference/deps_and_cli#_dependencies
c.f. https://github.com/clojure/tools.deps.alpha/blob/1c008c491524bd21b16a39e94a3bf592886fae23/src/main/clojure/clojure/tools/deps/alpha/extensions/git.clj#L23-L33

[2021-07-10 05:26] aadrian commented on #83
@liquidz I'm sorry - I missed the changes to this issue _(and to the other issues where I'm involved :( )._
GitHub seems to have changed the UI: there's no more **"Recent Activity"** detailed pane on the main page (only "All Activity") :( .

The steps look OK. to me.

I've tried them again however (with Gradle 6.x) but unfortunately now I'm getting:
[code]
for Java 8 (on all OSes: Windows/Mac/Linu

[2021-07-10 22:51] liquidz commented on #83
@aadrian

Ah, sorry.
This is because `build.gradle` is referring the latest release.
[code]

You should see the following message.
[code]

`feature/gradle` branch is not released and deplyed yet.

Could you try the following step to use local JAR file?

* In antq project
  * `make uberjar` to generate `target/antq-standalone.jar`
* In gradle project
  * `mkdir libs`
  * `cp -pi /path/to/antq/proje

[2021-07-11 12:39] aadrian commented on #83
@liquidz I suppose you mean to do that for the "feature" branch.
The master branch unfortunately fails to compile at all with Linux and OSX too:
[code]
---

This kind of works, but it still has issues. E.g. for a new project created with `gradle init --type=java-application` , If I add what you mentioned in the wiki (+ the locally created JAR), I'm getting:
[code]

[2021-07-11 20:51] liquidz commented on #83
@aadrian Thanks for your confirmation!

Right.

It's a problem in the latest version of [depstar](https://github.com/seancorfield/depstar).
So I had fix to use a specific version of depstar in feature branch. (0e22d9f)

It seems work as expected for me.
What is your expected behaviors?

FYI, here is output in my environment.
[code]

There is no available diff URL for `guava`, because the pom file

[2021-07-12 05:15] aadrian commented on #83
I understand.

To have no error message when:
 - there's no error in the Gradle file
 - or the build process or
 - with the Internet/proxy connection

so, to have return code 0 for a script that behaves as expected.

I see.
For such cases indeed, a tool can't do much: maybe at most, just prepare a "text template" so that the user fills a bug request with that project for "missing scm tag for publi

[2021-07-12 07:07] liquidz commented on #83
@aadrian

antq is a tool to detect outdated dependencies, so returning code `0` means "there are no outdated dependencies".
I have no plan  to change this specification for now.

`scm` tag is optional, and antq just refers to it, so I cannot say it is a bug 😓
The diff URL is a useful feature, but it is not a main feature, so only showing  what can be shown is the current stance.

[2021-07-14 21:31] liquidz commented on #83
@aadrian I've cut a release #95
Thanks for your suggestion!

[2021-07-14 21:31] #83 closed

[2021-07-29 14:40] rynkowsg opened #96 "Execution error (XMLStreamException), msg: "Content is not allowed in prolog.""
### Problem
[code]
### Full report
[code]

### Comment

I don't know why it started happening. I've been using antq for months. Today I got this.
Today I updated some deps and I switched to Clojure 1.10.3.933 from clojure/tools tap, but I removed it and get the old version and the result is the same.

Tested on Clojure 1.10.3.833, 1.10.3.849, 1.10.3.933.
Tested on Oracle JDK 1.8, OpenJDK 1.8, Open

[2021-07-29 15:01] rynkowsg commented on #96
Ok, I've found the culprit. It was a pom.xml I generated yesterday with `-Spom`.

In case if you want to debug it, the file content was:
[code]

[2021-07-29 15:01] rynkowsg commented on #96
I removed the file, and it works now. I'm closing the issue. Feel free to reopen it if you want to have a look at it and ask me about it. Cheers

[2021-07-29 15:01] #96 closed

[2021-07-29 21:03] liquidz commented on #96
@rynkowsg Thanks for your reporting!
Hmm, I couldn't reproduce the error with your pom.xml.

There seems to be several causes for this error, but it doesn't seem to be antq's, so I'll leave this issue closed for now.
- https://mkyong.com/java/sax-error-content-is-not-allowed-in-prolog/
- https://stackoverflow.com/questions/3030903/content-is-not-allowed-in-prolog-when-parsing-perfectly-valid-xml-o

[2021-08-03 20:22] camsaul opened #98 "Execution error (ClassCastException) at antq.ver.github-tag/nth-newer?: class java.lang.String cannot be cast to class java.lang.Number"
This input is causing it to fail:

[code]

[code]

[2021-08-03 20:23] camsaul commented on #98
The version string is `v.2.x`, and it tries to parse this as `[2 x]`, which fails. Not sure what the correct way to treat a `.x` version should be?

Either way, the entire process fails -- it would be nicer if it logged a "cannot parse version" error or something like that and proceeded (I've seen it do this for a few other deps)

[2021-08-03 20:53] camsaul opened #100 "v2.4- Maven dependency is considered to be a newer version than v3-"
I'm using `v3-rev20180622-1.27.0`, and antq is suggesting I upgrade to `v2.4-rev20180622-1.30.8`:

[code]

It's actually an older version of the API so "upgrading" to that would end up breaking my project. Shouldn't `3` be considered newer than `2.4`?

[2021-08-03 21:02] liquidz commented on #100
@camsaul Thanks for your reporting!
It seems a problem in [xsc/version-clj](https://github.com/xsc/version-clj).

I'll have a look and report to version-clj.

[2021-08-03 22:02] #98 closed

[2021-08-04 22:17] dpassen opened #101 "Exception when using s3-wagon-private plugin"
When using antq as a plugin, the following project.clj
[code]
causes a large exception to be thrown when running `lein antq`.

[code]

[2021-08-04 22:32] liquidz commented on #101
@dpassen Thanks for your reporting!

It seems the error only happens when we uses antq as plugin. (does not happens using as a main program)
@vemv Do you have any idea?

[2021-08-04 23:37] vemv commented on #101
Adding `:pedantic :abort?` reveals that the dependency trees of the two plugins in action (s3 + antq) are not compatible without some babysitting.

I think a nice fix would be changing antq's dependency on Cheshire (which transitively depends on Jackson, which is a usual source of complexities) for `clojure.data.json`.

`data.json` has been revamped as of lately and it's very much performant. A bu

[2021-08-04 23:56] liquidz commented on #101
@vemv Thanks!

Oh, we should check confused dependencies in CI.

Sounds good to me.
I know that refactor-nrepl moved from chesie to clojure.data.json.

Awesome! Could you create a PR if you OK.

[2021-08-05 00:21] vemv commented on #101
Cheers! PR incoming

On Thu, Aug 5, 2021 at 1:57 AM Iizuka Masashi ***@***.***>
wrote:

[2021-08-05 00:25] liquidz commented on #101
BTW I'll get the 2nd covid-19 vaccine today, so there may be a delay in response.

[2021-08-06 20:20] liquidz commented on #100
c.f. https://github.com/xsc/version-clj/pull/18

[2021-08-06 20:25] #101 closed

[2021-08-06 20:49] liquidz commented on #100
@camsaul I've cut a new release.
Could you try latest version?

[2021-08-13 09:14] frou opened #104 "How to use options in "tool" mode?"
I've tried both:
`clojure -Tantq outdated :upgrade true`
and:
`clojure -Tantq outdated '{:upgrade true}'`

They don't seem to have any effect that's different to:
`clojure -Tantq outdated`

There's no interactive prompt and no writes to the `deps.edn` file.

[2021-08-13 20:58] liquidz commented on #104
@frou Thanks for your reportng!
Oh, it's buggy. I'll fix it soon.

[2021-08-13 21:54] liquidz commented on #104
@frou I've fixed this problem, and cut a new release #105

Could you try as follows?
[code]

[2021-08-14 09:11] frou commented on #104
That now works for me. Thank you, I appreciate it!

[2021-08-14 09:11] #104 closed

[2021-09-02 00:50] seancorfield commented on #94
I just submitted a PR for this #106 (as I just ran into it myself). Oh, just noticed t.d.a supports bitbucket and beanstalk too -- let me update the PR!

[2021-09-03 21:54] liquidz commented on #94
@seancorfield Thanks for your great work!

I've jut cut a new release #107

[2021-09-03 21:54] #94 closed

[2021-09-03 22:39] seancorfield commented on #94
Thanks! I have updated my dot-clojure file to use that and just ran it across all my projects :)

[2021-09-04 09:48] frou opened #108 "When installed as a "tool", could the SLF4J annoyance be taken care of automatically?"
https://github.com/liquidz/antq/blob/main/doc/avoid-slf4j-warnings.adoc

Clojure [describes](https://clojure.org/reference/deps_and_cli#tool_install) tools as:

So could the antq "tool" be changed to automatically have the `org.slf4j/slf4j-nop` dependency, without affecting the user's project?

[2021-09-04 21:54] liquidz commented on #108
@frou I've been looking for the way to avoid annoying message, but haven't found it yet.

As a "library", I don't want to have `org.slf4j/slf4j-nop` by default, because it effets  user side project.

As a "tool", I want to have `org.slf4j/slf4j-nop`, but currently I cannot specify which aliases to use when installing as "tool".
- https://github.com/liquidz/antq/blob/e459ce567edb20ecb3d28f6e2a9df48

[2021-09-04 22:04] frou commented on #108
Thank you for the explanation. I suspected that maybe a 2nd repository would be required, and I agree that's too much hassle!

[2021-09-15 16:11] gphilipp opened #109 "Support for libraries in private repositories"
When running antq against our repos I get an error when it tries to download a private library.

Eg if I run on a leiningen project:
`clojure -Sdeps '{:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}}' -M -m antq.core`

It produces:
[code]
This is a homemade lib which is hosted in a private repo declared inside `project.clj`.
I have the same issue if running the same command against a tool

[2021-09-15 19:14] pmonks commented on #93
Yes please!  I switched over from `:sha` to `:git/sha` in my projects, and now antq won't check those dependencies.  😢

[2021-09-15 21:12] liquidz commented on #93
@pmonks Sorry for the late work, I've been working on another project.

I just cut a new release, so could you try the latest version? #110

[2021-09-15 21:27] dpassen commented on #93
This new build seems to support :git/sha but not :git/tag. Is that correct?

[2021-09-15 21:33] liquidz commented on #93
@dpassen Correct.
We can't use `:tag` or `:git/tag` without `:sha` or `:git/sha`, so antq wasn't aware of `:tag` originally.

[2021-09-15 21:55] liquidz commented on #109
@gphilipp Thank for your reporting!

Hmm, I'll have a look later.

[2021-09-16 10:04] dharrigan opened #111 "Execution error (NullPointerException) at rewrite-clj.custom-zipper.core/next (core.cljc:237)"
Hi,

Clojure 1.10.3
antq 1.0.1

[code]

Just running `clojure -M:antq` on a repo with the `git/sha` support and I get this error:

(here's a snippet, containing the relevant dependency)
[code]

[code]

Here's the stack:

[code]

[2021-09-16 17:16] pmonks commented on #93
No need to apologise - you're putting out high quality open source and can and should work at whatever pace works for you!

Oh and v1.0.1 works great - thank you!

[2021-09-16 19:56] liquidz commented on #111
@dharrigan Thanks for your reporting!
Oh, it's a bug. I'll fix it later.

[2021-09-16 19:59] liquidz commented on #93
@dpassen Ah, we should handle `:tag` and `:git/tag` when upgrading deps.edn. I forgot about that.

I'll fix it this weekend.

[2021-09-16 20:03] dpassen commented on #93
I can help, possibly, if desired.

[2021-09-16 20:18] liquidz commented on #93
@dpassen Thanks! PR is very welcomed!

But I'm working on deps.edn upgrader for a bug fix now, so it's best not to start fixing it yet to avoid conflicts.

[2021-09-17 21:26] liquidz commented on #111
@dharrigan I've released a new version to fix error when upgrading `:git/sha` for now. #112

But currently, upgrading `:git/tag` is not supported, so I'll support it in next release.

[2021-09-17 21:27] liquidz commented on #100
Feel free to reopen if you have any problems :)

[2021-09-17 21:27] #100 closed

[2021-09-17 21:32] liquidz commented on #93
Just released for a bugfix #112
I'll continue to implement upgrading `:git/tag`

[2021-09-18 05:49] dharrigan commented on #111
Thank you. That looks to work - was able to upgrade the dependency successfully.

Thank you very much! :-)

-=david=-

[2021-09-18 05:49] #111 closed

[2021-09-18 05:56] dharrigan opened #113 "Keep SHA length when upgrading?"
Hi,

Just tried out 1.0.2, to fix the bug with upgrading a dependency when there is a `git/sha` defined. I've noticed that if antq does the upgrade (`--upgrade --force`), then the sha that I put in (to get things started), `:git/sha "fb11811"` is replaced with the full sha of the upgrade `:git/sha "19c1d310235712240177a09475d5b71420aa7ddb"`.

I believe,  antq should just honour what is considered

[2021-09-18 07:05] liquidz commented on #113
@dharrigan

Right.

https://github.com/liquidz/antq/issues/111#issuecomment-922090923
Currently I'm working on updating `:git/tag` now, and I'll support short sha if there is a tag in it. (And it's already working well in my local environment 😊)

So please look forward to the next release, which will also support short sha!

[2021-09-18 22:35] liquidz commented on #93
Just cut a new release which supports upgrading `:tag` and `:git/tag` #114
cc @dpassen

[2021-09-18 22:35] #93 closed

[2021-09-18 22:36] liquidz commented on #113
@dharrigan I've just cut a new release.

Could you try the latest version?

[2021-09-19 08:35] dharrigan commented on #113
Hi!

Thank you very much,it sort of works, but this is what I observe too:

If I have this:

[code]

And I do `clj -M:antq --force --upgrade`

I end up with this:

[code]

Which, although correctly getting the latest commit on the repo, is putting in the full sha.

-=david=-

[2021-09-19 08:52] liquidz commented on #113
@dharrigan Thanks for your confirmation!

Now I'm using Clojure CLI version 1.10.3.967, and when I use only short sha for some deps, I got the following message.

It's a Clojure CLI's specification.

So antq keeps sha length only for deps which has `:tag` or `:git/tag` for now.

[2021-09-19 08:56] dharrigan commented on #113
Hi,

Yes, i see, the wording is a bit confusing

`Optional key :git/sha if tag provided, can be prefix sha, otherwise should be full sha (:sha still supported for backwards compatibility)`

So, if `git/tag` is supplied, it's okay to use the shortened sha, otherwise if only the `git/sha` is provided, use the full sha!

All good :-)

-=david=-

[2021-09-19 10:01] #113 closed

[2021-10-27 01:23] bowbahdoe opened #115 "Support for libraries in :local/root dependencies"
Right now antq doesn't report on libraries that are included in `:local/root` subprojects

[2021-11-02 21:00] seancorfield opened #117 "Failed to fetch for Polylith git deps"
Repro:

[code]

[2021-11-02 21:16] seancorfield commented on #117
With 1.0.2, it seems to correctly fetch the dependency and show that an updated SHA is available (but it shows `88c1f4c` instead of the tag, and the available SHA to be `b32f375` which is correct but not a tagged version), so I think this is a bug in the new `:git/tag` logic?

[2021-11-03 21:02] liquidz commented on #117
@seancorfield Thanks for your report! I'll have a look.

[2021-11-03 21:14] liquidz commented on #117
It seems all tags ends with `alpha...`, and those versions are filtered in the following.

- https://github.com/liquidz/antq/blob/926f14e542c2301e3156d18ef5f2ae27d6e2d6c3/src/antq/ver/git_tag_and_sha.clj#L12
- https://github.com/polyfy/polylith/tags

[2021-11-03 21:35] liquidz commented on #117
@seancorfield
I haven't tested it enough yet, but I've done a quick fix in the `bugfix/qualified-versions` branch.

[2021-11-03 22:49] seancorfield commented on #117
Thank you for the quick fix @liquidz -- I have tested that on our monorepo full of `deps.edn` files and it seems to work as expected!

[2021-11-05 22:51] liquidz commented on #117
@seancorfield Thanks for your confirmation!
I just released v1.2.0 #119

[2021-11-06 23:03] liquidz commented on #115
@bowbahdoe Sorry for late action, but I just tried to implement in [feature/local-root](https://github.com/liquidz/antq/tree/feature/local-root) branch.
Could you try?

e.g.
[code]

[2021-11-07 23:08] seancorfield commented on #117
I updated the script at work to use 1.2.0 it looks good. Thank you!

[2021-11-08 04:13] bowbahdoe commented on #115
I have a bit of a pathological example that probably doesn't represent 99% of reasonable projects, but:

![image](https://user-images.githubusercontent.com/5004262/140683200-4072ba6b-ad4b-4539-8da0-b2fed58ed0e4.png)

[2021-11-08 04:35] liquidz commented on #115
@bowbahdoe Thanks for your trial!
Is that working fine for you?

[2021-11-08 12:46] bowbahdoe commented on #115
There is some weirdness like the duplicated deps, but for my purposes that it works for my purpose

[2021-11-08 22:09] liquidz commented on #115
@bowbahdoe Thanks!

Do you have duplicate definitions for multiple aliases, etc.?
If not, it's a bug, but I can't reproduce it in my environment...

[2021-11-09 01:18] bowbahdoe commented on #115
Yep I do.

Again, super pathological but i'm not a big fan of override-deps as of yet

[code]

libraries/antq

[code]

[2021-11-09 02:37] liquidz commented on #84
NOTE: clj-http has `changelog.org`
https://github.com/dakrone/clj-http/blob/3.x/changelog.org

[2021-11-09 07:15] liquidz commented on #115
@bowbahdoe Ah, I got it. Thanks!
Fixed in d6527b9.

[2021-11-10 11:15] jlesquembre commented on #109
I'm having the same issue with a deps.edn project.

Looks like antq is not taking `~/.m2/settings.xml` nor `~/.config/clojure/deps.edn` into consideration

[2021-11-11 07:18] liquidz commented on #109
@jlesquembre Thanks!
I could finally reproduce the problem with [Nexus3](https://hub.docker.com/r/sonatype/nexus3).
I'll try to fix it.

[2021-11-12 22:48] liquidz commented on #109
@gphilipp @jlesquembre
I've tried to fix in [feature/private-repos](https://github.com/liquidz/antq/tree/feature/private-repos) branch, and it seems working well in my environment.

Could you try `feature/private-repos` branch?

[2021-11-12 22:50] #117 closed

[2021-11-12 22:59] liquidz commented on #115
Now merged to `dev` branch.

[2021-11-13 09:01] jlesquembre commented on #109
thanks @liquidz , but unfortunately still not working for me.
My setup is as described in the deps cli docs: https://clojure.org/reference/deps_and_cli#_maven_s3_repos
The url to the private repo is in my `deps.edn` file (in `~/.config/clojure/deps.edn`) and the username/password in the maven config (`~/.m2/settings.xml`)

[2021-11-13 12:35] liquidz commented on #109
@jlesquembre Ah, I missed to read `:mvn/repos` in ~/.config/clojure/deps.edn, sorry.
I'll fix it tomorrow.

[2021-11-13 23:37] liquidz commented on #109
@jlesquembre I fixed the problem.
Could you try [feature/private-repos](https://github.com/liquidz/antq/tree/feature/private-repos) branch again?

[2021-11-14 00:02] liquidz commented on #109
I'm tweaking the logic a little bit.
Soon to commit.

[2021-11-14 00:08] liquidz commented on #109
Commited

[2021-11-14 09:28] jlesquembre commented on #109
@liquidz It works :)

Thanks a lot, great work with antq

[2021-11-15 08:23] liquidz commented on #109
@jlesquembre Thanks for your confirmation!

[2021-11-17 21:22] liquidz commented on #115
I just released v1.3.0 #122

[2021-11-17 21:22] #115 closed

[2021-11-17 21:23] liquidz commented on #109
@jlesquembre @gphilipp
I just released v1.3.0 #122

[2021-11-17 21:23] #109 closed

[2021-11-18 06:07] jlesquembre commented on #109
Thank you @liquidz !

[2021-11-22 12:32] eneroth opened #123 ""Execution error (InstantiationError) at cognitect.http-client/ssl-context-factory"
When running,

`clojure -Sdeps '{:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}}' -M -m antq.core`

I get the following error:

[code]

[2021-11-22 20:17] liquidz commented on #123
@eneroth Thanks for your reporting!

Hmm, I cannot reproduce the problem.
Could you tell me your deps.edn/project.clj if you can?

[2021-11-23 08:49] eneroth commented on #123
Sure!

[code]

[2021-11-23 11:07] gphilipp commented on #109
Hey @liquidz, thanks for fixing this, I've just tried 1.3.0 and it works flawlessly now!

[2021-11-23 21:13] liquidz commented on #123
@eneroth Thanks!

In my environment, it works without any errors.
[code]

Do you have additional deps in the following files?
(cf. https://clojure.org/reference/deps_and_cli#_deps_edn_sources)
- `$CLJ_CONFIG/deps.edn`
- `$XDG_CONFIG_HOME/clojure/deps.edn`
- `$HOME/.clojure/deps.edn`

From ver 1.3.0, antq is reffering above files.
So if you installed ver 1.2.0 or earlier as a tool, it should behave

[2021-11-24 07:30] eneroth commented on #123
Aha, maybe that's it. I do have…

[code]

… in `~/.clojure/deps.edn`. AFAIK I'm not using the others.

[2021-11-24 21:12] liquidz commented on #123
@eneroth Thanks for your confirmation!

From the error log, I think `com.datomic/ion-dev` and `datomic-cloud` repo is the cause of the problem, but my deps in private s3 repository (not `com.datomic/ion-dev`) was able to get the version information without any problem and I could not reproduce the problem...

I'll do some more digging.

[2021-11-26 00:12] hlolli opened #124 "Error no such var git/auto-git-url"
Calling

[code]

results in a crash

[code]

  Running on osx aarch64 (M1)
  Clojure CLI version 1.10.3.1013

[2021-11-26 00:17] hlolli commented on #124
Ok simple fix, update org.clojure/tools.deps.alpha to {:mvn/version "0.12.1076" }
I wonder if it's bit anti-pattern to include alpha features on project designed to run on old codebase. But the fact I had tools.deps.alpha declared and that it overrode the projects deps, is really not possible to avoid. Thanks for your work on antq, I use it consistently every blue moon <3

[2021-11-26 00:17] #124 closed

[2021-12-08 05:36] vemv commented on #84
Hey there!

I hadn't forgotten about this one, but was hesitant about which http library to use.

I successfully pushed for https://github.com/clj-commons/clj-http-lite to move to clj-commons and to solve some outstanding tech issues.

It seems a very nice library since it's dependency-free, and it works with all JDKs.

Feel free to consider using it.

Regarding my branch and the more recent commi

[2021-12-08 17:26] markokocic opened #125 "version 1.3.0 broken"
Steps to reproduce:

[code]

[2021-12-09 22:11] liquidz commented on #125
@markokocic Thanks for your reporting!

It seems Windows specific problem.
https://github.com/liquidz/antq/blob/6c0d2173c0d445ab0e39b7174bc55cd4acb5f652/src/antq/util/dep.clj#L34

I don't have WIndows environment, but I'll try to fix.

[2021-12-10 13:07] markokocic commented on #125
I admit I'm not familiar with the reason behind `normalize-path` function, but is there a reason why not using `java.io.File/getCanonicalPath` instead of custom path parsing?

[2021-12-10 22:24] liquidz commented on #125
@markokocic Oh, I missed `getCanonicalPath`! Thank!

But we want to return a relative path with `normalize-path` if possible.
Do you have a good way?

The purpose of `normalize-path` is to normalize the directory specified by `:local/root` in deps.edn.
Normalized paths are used to detect infinite loops and report results.

Anyway, I patched a workaround for now.
Could you try [dev](https://github.

[2021-12-13 09:13] markokocic commented on #125
Do you have a good way?

In Java you can look at `java.nio.file/Path` [docs](https://docs.oracle.com/javase/8/docs/api/?java/nio/file/Path.html). Maybe `normalize`, `releativize` and `resolve` methods can help you.

Could you try dev branch?

I tried dev branch and it seems to fix error.

[2021-12-18 21:12] liquidz opened #127 "Skip non-YAML files in .github/workflows"
As title says

[2021-12-18 22:55] liquidz commented on #125
@markokocic Sorry for late reply.

Thanks so much for letting me know!

Great. Thanks.
I'll cut a new release.

[2021-12-18 23:58] liquidz opened #129 "Use tools.build"
depstar is already archived.
https://github.com/seancorfield/depstar

[2021-12-19 00:01] liquidz commented on #125
Just released v1.3.1 #128

[2021-12-19 00:01] #125 closed

[2021-12-19 00:01] liquidz commented on #127
Just released v1.3.1 #128

[2021-12-19 00:01] #127 closed

[2021-12-21 18:46] CambodianCoder opened #130 "Skip prompts for GitHub username and password"
I have several private repositories/packages hosted in Nexus listed in my deps.edn file.

I would like to set a flag on the command line to skip checking for a username/password.

Something similar to the following would suffice:
[code]

Does this feature already exist? If not, could it be added?

Currently, I have to manually hit enter multiple times to get past all the password prompts.

![image

[2021-12-21 21:20] liquidz commented on #130
@CambodianCoder Thanks for your reporting!

Hmm, the cause may be the feature to show diffs between current and latest version. (Prompt from `git` command)
https://github.com/liquidz/antq/blob/de79d34bc4d951480f41cbb2e736cdc215a30d68/src/antq/diff/java.clj#L84-L89

For now, antq refers a `<url>` under `<project>` or  `<scm>` in pom.xml.
e.g.
- https://github.com/liquidz/antq/blob/de79d34bc4d951480

[2022-01-12 03:15] archaic opened #131 "Handling multiple git branches"
Hello, I am using the add-lib3 branch of tools.deps.alpha for the add-libs functionality
it has a sha of e4fb92eef724fa39e29b39cc2b1a850567d490dd, running clojure -Tantq outdated wants to upgrade to the latest sha which is cbe5a1ead553811954def78090fc5a2d170234c6 in the master branch. These branches provide different APIs so one is not really a newer version of the old one -> should different git

[2022-01-13 07:28] liquidz commented on #131
@archaic Sorry for late reply.

Ideally, we'd like to point out the latest commits for a specific branch, but that's difficult because deps.edn doesn't support branches for now.

[2022-01-13 10:43] dharrigan opened #132 "Allow for downloads of dependencies whilst updating?"
Presently, if there are updates to any dependencies, `antq` will notice the update and modify the `deps.edn` to show a newer version is available. However, it's not until `clj` or `clojure` is launched will the actual resolving and downloading of the updated dependencies occurs (to `.m2/....`).

Would you consider an option to have `antq` not only update the `deps.edn` but also to download to `.m2

[2022-01-13 21:33] liquidz commented on #132
@dharrigan Thanks for your suggestion!

I see what you want to do.
In conclusion, I'm willing to implement this feature.

My biggest concern was whether this feature would be a role for `antq`.
The feature downloading deps to `.m2` is seemingly not a role for `antq`, but for example, upgrading deps.edn is a feature for EASY and this is out of the nature of `antq`.

So, I thought downloading deps t

[2022-01-13 21:48] dharrigan commented on #132
Hi!

Thank you for your consideration, what I mean here, is that `antq` could simply delegate to the clojure tooling (deps) (which `antq` already uses) to perform the download, rather than implement the same logic itself :-)

[2022-01-13 21:57] liquidz commented on #132
Yes, I'm planning to use tools.deps for downloading deps :)

[2022-01-19 10:05] dharrigan opened #133 "S3 Error when computing diffs"
Hi,

I think that doing diffs on s3 artifacts should be skipped, otherwise the following errors occur:

When resolving `S3://` artifacts for doing diffs, `antq` calls to the [io/reader](https://github.com/liquidz/antq/blob/de79d34bc4d951480f41cbb2e736cdc215a30d68/src/antq/util/maven.clj#L118) to return a stream.

Unfortunately, the [java.io/reader](https://github.com/clojure/clojure/blob/5451cee06

[2022-01-20 04:43] #133 closed

[2022-01-20 21:22] liquidz commented on #133
@dharrigan Just released v1.3.2.
Thank you so much!

[2022-01-20 21:31] pmonks opened #136 "Don't use local Maven repository to detect out of date dependencies"
It appears that antq uses the local Maven repository (e.g. `~/.m2/repository`) as part of determining whether an artifact (identified by GAV) is out of date, however this approach leads to false positives when a "temporary development" version of an artifact has been built and installed locally, but is not yet published to any remote repository (e.g. Maven Central or Clojars).

This is a problem b

[2022-01-20 21:38] dharrigan commented on #133
You're most welcome! Happy to help where I can :-)

[2022-01-20 21:38] liquidz opened #137 "Use SHA for annotated tags"
Currently, antq uses SHA for deps on git, where the tag is an exact match.
But, for example, tools.build contains annotated tags, so there are two SHAs for a particular version.

[code]
So the current upgrading process will update SHA to `2526f58` instead of `34727f7`.
This works, but it is preferable to handle annotated tags in antq too, because `34727f7` is handled on GitHub and in tools.gitlibs

[2022-01-20 22:05] liquidz commented on #132
@dharrigan Sorry for late action.
I've added `--download` option to [feature/download-deps](https://github.com/liquidz/antq/tree/feature/download-deps) branch.
Could you try?

[2022-01-20 22:14] liquidz commented on #136
@pmonks Thanks for your reporting!

Indeed.

tools.deps requires local repos to create session for now, so I'm not sure yet if I can rule it out, but I'll look into it.
https://github.com/clojure/tools.deps.alpha/blob/dce6bcba266e9261ed671f3f594d7b122f761bf1/src/main/clojure/clojure/tools/deps/alpha/util/maven.clj#L215

[2022-01-20 22:25] pmonks commented on #136
Hopefully Maven stores metadata in the local repository that allows one to distinguish between "remotely sourced" and "locally sourced" ~~organic produce~~ artifacts.

[2022-01-21 06:46] dharrigan commented on #132
Sure, will give it a whirl this morning and let you know :-)

[2022-01-21 09:02] dharrigan commented on #132
Hi, works great. I've done a PR just to add a couple of things in.

One thing to note (perhaps has to be documented?) is that if antq is run as normal (and dependencies are updated) then if it's then run again with `--download` set, then no download is done (as there are no updates anymore :-) ). It's probably beyond the scope (and too much hassle) to walk through each dependency, checking if it e

[2022-01-21 22:25] liquidz commented on #132
@dharrigan Thanks for your confirmation!

I think so too. It is not a role for antq.

I'll add notes for this behavior :)

[2022-01-22 01:46] pmonks commented on #136
FYI it looks like Maven does indeed track this.  For one of my projects (which is deployed to Clojars, as well as via local installation), I see these two files in the GA directory:
[code]
The first one lists out the versions of the library that have been deployed to Clojars, while the second lists the ones I installed from a local build.

I assume there are also files for other remotes (such as `

[2022-01-22 21:48] liquidz commented on #137
Closed by #142

[2022-01-22 21:48] #137 closed

[2022-01-22 21:51] liquidz commented on #132
@dharrigan Just released v1.4.0 #142

[2022-01-22 21:51] #132 closed

[2022-01-22 22:59] liquidz commented on #136
@pmonks Thanks for your information!

`org.eclipse.aether.RepositorySystem` does not seem to tolerate Null as  LocalRepository.
So, it might be a good idea to exclude specific versions from version list fetched by Aether in the way you describe :)

[2022-01-22 23:47] pmonks commented on #136
I have zero knowledge of the `aether` library at all, so there may be a way to do this using it, but couldn't you just parse `maven-metadata-local.xml` manually (e.g. using `clojure.data.xml` etc.), and add the versions number listed in there to some kind of "ignore list"?

[2022-01-23 15:26] dharrigan opened #143 "Consider moving to `tools.build` for building"
Hi,

Depstar by Sean Corfield is deprecated, and he encourages people to move to `tools.build`. I've done an initial bit of work around this on my branch. Worth considering? Happy to take feedback to make it work :-)

-=david=-

[2022-01-23 20:46] liquidz commented on #143
@dharrigan Thanks for your suggestion.
But, unfortunately it's duplicated with #129, and I'm already working on it.

[2022-01-23 20:53] dharrigan commented on #143
Hey! no worries at all! :-) Maybe it might of some use :-) Feel free to close this issue.

[2022-01-26 15:10] TimoKramer opened #145 "Cannot run antq behind proxy"
Hi,
I wanted to run antq behind a proxy but it seems it is not able to make the http-calls in the read-pom-fn.

This is what I am seeing:
[code]
In line 130 in maven.clj I think it should be `Connection timed out` instead of `Operation timed out` but I might be wrong.

Does antq obey to maven proxy-settings? I assume so but what could be wrong here? I can resolve my deps with `clj -P`...

[2022-01-27 21:54] liquidz commented on #145
@TimoKramer Thanks for your reporting!
Oh, I I forgot about proxies.
I'll have a look.

[2022-01-29 17:14] vinurs opened #146 "how to update antq itself"
hello, i install antq as clojure tool
[code]
and it generate a file called `antq.edn` in `~/.clojure/tools`, then how can i use antq to check its own version  and update to the latest

[2022-01-30 22:28] liquidz commented on #146
@vinurs Sorry for late reply.
Currently, there is no way to update antq which is installed as clojure tool.
But it is very interesting and useful if we can do it :)

[2022-02-05 00:40] vinurs commented on #146
yeah, i think this would be a uesful feature

[2022-02-08 21:24] liquidz commented on #136
@pmonks I've implemented `--ignore-locals` option to [dev](https://github.com/liquidz/antq/tree/dev) branch.
Could you try?

[2022-02-10 00:46] pmonks commented on #136
Looks good here!  Thanks!!

And if I'm calling `antq.upgrade/upgrade!` programmatically, is the option in the `opts` arg called `:ignore-locals`?

[2022-02-10 01:08] liquidz commented on #136
@pmonks Thanks for your confirmation!

Yes, you can use `:ignore-locals` as a option for `antq.core/antq` !

[2022-02-10 01:09] pmonks commented on #136
Fantastic!  Can't wait to see this released!

[2022-02-10 01:09] #136 closed

[2022-02-10 01:30] liquidz commented on #136
I'll cut a new release  tomorrow at the latest :)

[2022-02-16 16:11] seancorfield opened #148 "Flag deprecated libraries?"
This idea came from a discussion around clj-kondo -- see https://github.com/clj-kondo/clj-kondo/issues/1591 -- as a way for users to become more aware that certain libraries are deprecated by their maintainers and there are often recommendations to use a different library or approach instead.

From my point of view, warning people that [`clj-time`](https://github.com/clj-time/clj-time/) (`clj-time

[2022-02-17 14:16] lread commented on #148
@liquidz if you like this idea, [there might also be an opportunity to collaborate with clj-kondo](https://github.com/clj-kondo/clj-kondo/issues/1591#issuecomment-1041861887).

[2022-02-17 16:49] zoren opened #149 "[Bug] outdated does not see latest version"
In shell I did:
[code]
However `1.3.10` is the latest version of `datascript`.

I looked into it briefly and believe the problem originates here https://github.com/liquidz/antq/blob/main/src/antq/core.clj#L137
where `first` is used on a set of strings.

I can try and make an MR but I may need help getting set up.

[2022-02-17 17:02] zoren commented on #149
I think I was wrong. It seems `antq` just doesn't see the latest version of datascript yet.

[2022-02-22 21:57] liquidz commented on #129
Closed by #151

[2022-02-22 21:57] #129 closed

[2022-02-22 21:58] liquidz commented on #143
Closed by #151

[2022-02-22 21:58] #143 closed

[2022-02-27 06:42] liquidz commented on #145
@TimoKramer Sorry for late reaction.
I supported to run antq behind proxy in dev branch.
antq uses proxy setting in `~/.m2/setting.xml` for now.

E.g.
[code]

Could you try [dev](https://github.com/liquidz/antq/tree/dev) branch?

[2022-02-28 21:32] liquidz commented on #146
@vinurs
I've added `--check-clojure-tools` option in [checking-clojure-tools](https://github.com/liquidz/antq/tree/feature/checking-clojure-tools) branch.
This option allows you to detect all tools intalled in `~/.clojure/tools` as dependencies, and you can upgrade them with `--upgrade` option.

Could you try this branch?

[2022-03-01 01:03] vinurs commented on #146
@liquidz thanks very much, i've checked the options, it works well

[2022-03-01 21:13] liquidz commented on #146
@vinurs Thanks for your confirmation!

Currently, I'm thinking of enabling this feature by default without any options.
And `--skip` option can be used to disable like other features.

How do you think? May it be noisy?

[2022-03-02 05:38] vinurs commented on #146
hello,in my opinion when i change dir in a project directory, i just want to check and update the project deps, but when i in a dir not belong to any project, then i want to check the global deps, eg (clojure tools, .lein/profiles.clj and so on)

[2022-03-02 07:41] liquidz commented on #146
@vinurs Thanks!

Personally, I want this feature to be eather ON of OFF by default, because changing the behavior depending on the current directory may cause confusion.

As you said, it is resonable to check and update only project deps in our project directory, since installed Clojure CLI Tools are not related to our project.

So it may be good to disable by default.

[2022-03-02 09:17] vinurs commented on #146
@liquidz well, agree with you

[2022-03-04 22:21] liquidz commented on #146
@vinurs Just released v1.6.0!

[2022-03-04 22:21] #146 closed

[2022-03-04 22:23] liquidz commented on #145
@TimoKramer Just released v1.6.0 for now.
If you have any trouble, feel free to reopen :)

[2022-03-04 22:23] #145 closed

[2022-04-22 17:45] vemv opened #157 "Progess bar?"
Hi there,

for some really large projects, it can be pretty frustrating that antq doesn't show what it's doing.

So a progress bar would seem a nice addition, what do you think?

Cheers - V

[2022-04-22 19:52] vemv opened #158 "Timeout for `antq.util.git/tags-by-ls-remote`"
Hi again,

I'm finding that antq is often taking an excessive time to complete. Whenever I hit `Ctrl+\`, the thread dumps tell me that it's busy with `antq.util.git/tags-by-ls-remote`:

[code]

Perhaps these are worth applying a timeout to?

Also, are these entries processed in parallel? The thread dump doesn't suggest so. For a large dependency tree, performing many of these sequentially could me

[2022-04-22 21:14] liquidz commented on #157
@vemv Yeah, it may be good as I knew I would need it someday :)

[2022-04-22 21:38] liquidz commented on #158
@vemv Thanks for your reporting!

I agree with applying a timeout. (It never took me that long to get there)

For now, we are using `pmap`.
https://github.com/liquidz/antq/blob/ac1f00995a1ae554305eb56266fc85c4920e000c/src/antq/core.clj#L173

[2022-05-12 14:24] introom opened #159 "check-clojure-tools does not work"
`check-clojure-tools` does not work tools where the installation path is ~/.config/clojure/tools/.   ~/.config is $XDG_CONFIG_HOME

The full command that I found this issue is:
`clojure -Tantq outdated :check-clojure-tools true :upgrade true`

[2022-05-12 21:30] liquidz commented on #159
@introom Thanks for your reporting!
I fixed the problem in [bugfix/tool-dir](https://github.com/liquidz/antq/tree/bugfix/tool-dir) branch.
Could you try?

[code]

[2022-05-12 22:33] pmonks commented on #157
[spinner](https://github.com/pmonks/spinner) may be of interest for this.  While the current release only supports indeterminate progress indicators ("spinners"), a community member (@Jungorend) has started looking into adding support for determinate progress indicators ("progress bars").

[2022-05-12 23:55] liquidz commented on #157
@pmonks Interesting. Thanks!

[2022-05-13 00:14] introom commented on #159
I've this in my deps.edn config.
[code]

I run the command under some directory that contains a deps.edn file (otherwise antq will complain no project found).
[code]

The output is:
[code]

This file ~/.config/clojure/tools/new.edn is unchanged .

<img width="750" alt="image" src="https://user-images.githubusercontent.com/669045/168187221-94a1f31d-d6d1-457b-9a8d-e4d91d2366d4.png">

[2022-05-13 00:21] liquidz commented on #159
@introom You should run `clojure -M:antq --check-clojure-tools --upgrade` when you use `-M`

[2022-05-13 00:25] introom commented on #159
Great. It works now.

[2022-05-13 00:26] liquidz commented on #159
Thanks for your confirmation! I'll cut a new release this weekend :)

[2022-05-13 14:57] introom opened #160 "Upgrade package to a wrong version"
Given
[code]

antq claims the altest version is 0.3.1-p1, however on clojars, that latest is 0.0.12.

https://clojars.org/com.gfredericks/debug-repl.

:
[code]

[2022-05-13 21:51] liquidz commented on #160
@introom This is an debug-repl's versioning issue.
antq sort versions with [version-clj](https://github.com/xsc/version-clj) and version-clj sort versions by semantic versioning.
As semantic versioning, it is abvious 0.3.x is newer than 0.0.x.

[2022-05-13 22:16] liquidz opened #161 "Show results in Job Summaries"
https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/

[2022-05-13 22:23] liquidz commented on #159
@introom Just released v1.6.2 #162
Thank you so much!

[2022-05-13 22:23] #159 closed

[2022-05-14 00:00] introom commented on #160
Yup. Didn't check the all versions page first: https://clojars.org/com.gfredericks/debug-repl/versions.

Indeed 0.3.1-p was there.

Is it possible to inform antq that some packge is fixed at a version?

My use case is: Use -force option to update all the packge versions.  So a setting on fixing a specific version really helps here.

[2022-05-14 00:32] liquidz commented on #160
@introom How about to exclude the specific version as follows?
[code]
cf. https://github.com/liquidz/antq#--excludeartifact_nameversion

[2022-05-14 02:57] introom commented on #160
Yup. I am aware of that. But that piece of information should better be possible to stored inside the exact deps.edn file.

[2022-05-14 09:37] liquidz commented on #160
At first, it should be another issue since it is different from the original one.

antq supports not only deps.edn but also project.clj, pom.xml and so on.
And the current option is a unified exclusion method.

If we provide a way to exclude versions in deps.edn, it shoud be the deps.edn specific way.
If we also want to provide a way to exclude version in project.clj, it should be different from t

[2022-05-14 11:34] introom commented on #160
Got it. Thanks for the detailed reply.

[2022-05-14 11:34] #160 closed

[2022-06-03 23:26] liquidz commented on #157
@vemv Sorry for late reaction.
I've added progress bar for `table` reporter.
https://github.com/liquidz/antq#--reporterreporter
Could you try [dev](https://github.com/liquidz/antq/tree/dev) branch?

https://user-images.githubusercontent.com/6941/171966159-14082044-c7bd-4fff-a6fb-584640e33964.mp4

[2022-06-04 22:56] vemv commented on #157
Hey there! Thanks much for this feature.

It does look great from the video. I'll trust that it works correctly.

[2022-06-30 20:40] liquidz opened #166 "Exception is thrown by reading POM for jakarta.mail-api"
https://repo1.maven.org/maven2/jakarta/mail/jakarta.mail-api/2.0.1/jakarta.mail-api-2.0.1.pom

[code]

[2022-07-01 21:23] liquidz commented on #157
@vemv Just released v1.8.847 #167

[2022-07-01 21:23] #157 closed

[2022-07-01 21:23] liquidz commented on #158
@vemv Just released v1.8.847 #167

[2022-07-01 21:23] #158 closed

[2022-07-01 21:24] liquidz commented on #166
Fixed by #167

[2022-07-01 21:24] #166 closed

[2022-07-05 21:14] #130 closed

[2022-07-07 10:53] grahamcarlyle opened #170 "Timeout error corrupts deps.edn"
If I have a timeout error when running` antq` the relevant `deps.edn` coordinate is replaced with an error message. I think it would be better to **not** change the `deps.edn` to something invalid. The error is already printed and the exit status is non-zero, which is all i think `antq` needs to do.

e.g.
i can reproduce by  invoking the alias

[code]

using a very small timeout

`ANTQ_DEFAULT_TIM

[2022-07-07 20:59] liquidz commented on #170
@grahamcarlyle Thanks for your reporting!
I just released fixed version 1.9.859.
Could you try the latest version?

[2022-07-08 09:21] grahamcarlyle commented on #170
@liquidz That release fixes the problem for me. Thanks!

[2022-07-08 09:21] #170 closed

[2022-07-08 20:02] skynet-gh opened #172 "Execution error on Windows since 1.6.0"
I get the following error on Windows in [this project of mine](https://github.com/skynet-gh/skylobby) running using the alias method in `/.clojure/deps.edn`:

[code]

and the contents of that file are:

[code]

I get the same error on both 1.6.0 as well as the current latest, 1.9.859.

This works on version 1.5.1 on Windows, as well as 1.6.0+ on Linux.

[2022-07-09 21:55] liquidz commented on #172
@skynet-gh Thanks for your reporting!

Unfortunately I don't have Windiows environment, so I can't reproduce the problem.
Could you tell me actual values for `file-path` and `(u.env/getenv "HOME")` in the following code?

https://github.com/liquidz/antq/blob/d4bed61ba7f02554d6ecf5704d9507b1b7da3cc5/src/antq/util/file.clj#L6-L8

E.g.
[code]

[2022-07-10 20:58] skynet-gh commented on #172
@liquidz in my local clone with that change to `normalize-path` I get:

[code]

so looks like `file-path` is `".\deps.edn"` and `(u.env/getenv "HOME")` is `null`.

[2022-07-13 21:24] liquidz commented on #172
@skynet-gh Sorry for late response.
I've tried to fix the problem in [dev](https://github.com/liquidz/antq/tree/dev) branch.

Could you try dev branch?

[2022-07-13 21:29] skynet-gh commented on #172
@liquidz hey thanks, that seems to work just fine:

[code]

[2022-07-13 21:34] liquidz commented on #172
@skynet-gh Thanks for your quick confirmation!
Just released v1.9.863.

[2022-07-13 22:13] #172 closed

[2022-07-19 08:07] scarytom opened #174 "Execution error (ClassCastException) in java.clj"
I am getting the following intermittent failure:

[code]

I am running antq through deps.edn with the following alias definition:
[code]

I'm sorry that I don't have a reproducible test case for this yet, but I will update the issue if I discover anything more.

[2022-07-21 07:33] liquidz commented on #174
@scarytom Sorry for late reply.
I've reproduced the problem with `ANTQ_MAVEN_TIMEOUT=1`.
cf. https://github.com/liquidz/antq/blob/main/doc/timeout.adoc

As you said `latest-version` had a timed out exception, so I fixed it in [dev](https://github.com/liquidz/antq/tree/dev) branch.
Could you try?

[2022-07-21 12:23] scarytom commented on #174
I have tried this out and it appear to fix the issue, thanks.

[2022-07-21 12:31] scarytom commented on #174
I just bought you a coffee on ko-fi.com, hope you enjoy it.

[2022-07-22 21:58] liquidz commented on #174
@scarytom Thank you so much!
Just released [v1.9.867](https://github.com/liquidz/antq/releases/tag/1.9.867).

[2022-07-25 13:16] dharrigan opened #176 "Progress bar is overwritten"
Hi!

On some occasions, I see this:

`All dependencies are up-to-date.#################### ] 79/79`

After the dependencies have been updated.

(If I was to make another little suggestion, is to remove the spaces after/before the `[]` so that it's like `[******]`, not `[ ****** ]`, as a gap suggests a skip, something missing if you know what I mean :-))

Thank you.

-=david=-

[2022-07-26 21:07] liquidz commented on #176
@dharrigan Thanks for your reporting!
I've fixed, so could you try [dev](https://github.com/liquidz/antq/tree/dev) branch?

[2022-07-26 21:48] dharrigan commented on #176
Hi,

Seems to work a-okay! ;-)

-=david=-

[2022-07-26 21:57] liquidz commented on #176
Thanks for your confirmation!
Just released v1.9.874 :)

[2022-07-28 22:58] #176 closed

[2022-07-28 22:58] #174 closed

[2022-08-17 13:54] jpalharini opened #180 "`No such var: alpha/user-deps-path` when using antq as Leiningen plugin"
I'm trying to use antq in a Babashka project, and it always fails when trying to find `alpha/user-deps-path`, which seems to be part of [tools.deps.alpha](https://github.com/clojure/tools.deps.alpha).

I tried to explicitly depend on it in both `bb.edn` as well as `project.clj` to no avail.

[2022-08-17 21:52] liquidz commented on #180
@jpalharini Thanks for your reporting!
I couldn't reproduce the problem with following steps.
[code]

Could you tell me the minimum steps to reproduce?

[2022-08-23 20:03] jpalharini commented on #180
Thanks for the quick response!

I think I was too early on reporting this. After we did a lot of cleanup on the `project.clj` I managed to run antq as expected, and I forgot to close this. Sorry for that!

Congrats on the project, by the way!

[2022-08-23 20:03] #180 closed

[2022-09-18 23:07] liquidz commented on #84
@vemv Just released v2.1.920 :)

[2022-09-19 03:54] vemv commented on #84
Nice! Will check it out :)

[2022-09-19 03:54] #84 closed

[2022-09-19 18:14] seancorfield opened #184 "Bug (Regression): incorrect deduction of git deps?"
The latest release introduces a breaking regression -- I _think_ `antq` is incorrectly identifying a Maven group/artifact as a possible git URL?

Below is a minimal repro (the `antq-bug` folder contains nothing except the `deps.edn` file shown below):
[code]

[2022-09-19 20:11] liquidz commented on #184
@seancorfield Thanks for your reporting!
Just released v2.1.927 to fix this bug.

[2022-09-19 21:38] seancorfield commented on #184
That was fast -- thank you! Confirmed fixed locally.

[2022-09-20 00:07] seancorfield commented on #184
Should I close this now that it is fixed, or is that part of your process?

[2022-09-21 09:10] liquidz commented on #184
There is no special rules :)

[2022-09-21 09:10] #184 closed

[2022-11-16 06:25] kimmoahola opened #189 "Packages are "Upgraded" when they are actually ignored"
My deps.edn looks like this:

[code]

When I run `clojure -M:outdated`

The output is

[code]

And in the deps.edn file the all except jcl-over-slf4j is updated (just like I expected) but that output displays `jcl-over-slf4j` package (which is not what I expected).

I don't know if that `^:outdated/ignore` meta is actually supported way to ignore upgrades to packages but it works. Just the output

[2022-11-16 07:38] liquidz commented on #189
@kimmoahola Thanks for your reporting!
It is a bug in upgrader, and `jcl-over-slf4j` should be upgraded.

In antq, `:outdated/ignore` metadata is not handled.
https://github.com/liquidz/antq/search?q=ignore
To ignore specific deps, you should use `--exclude` option like `--exclude=org.slf4j/jcl-over-slf4j`.
https://github.com/liquidz/antq#--excludeartifact_nameversion

Anyway, I'll fix the upgrade

[2022-11-16 08:03] kimmoahola commented on #189
I think that kind of `^:ignore` is handy. I think it's good to mark 'ignore' directly to the package definition. It's easy to spot there when I have 30 packages in a project.

And also I add a comment to the line for a reason why the package is ignored.

Previously I used depot and it has that kind of meta to ignore stuff: https://github.com/Olical/depot#controlling-which-part-of-the-file-are-chec

[2022-11-16 08:53] liquidz commented on #189
@kimmoahola

OK :)
Could you cut a new issue for the feature request?

[2022-11-16 09:37] kimmoahola opened #190 "Add support for `^:antq/ignore` for ignoring package"
Add support for ignoring the upgrade of a package directly in the package definition.

I think `^:ignore` or `^:antq/ignore` would be handy in package definition in deps.edn. I think it's good to mark 'ignore' directly to the package definition because easy to spot there when I have 30 packages in a project.

depot has that kind of meta to ignore stuff: https://github.com/Olical/depot#controlling-

[2022-11-16 09:38] kimmoahola commented on #189
Yes of course: https://github.com/liquidz/antq/issues/190

[2022-11-16 10:44] kimmoahola commented on #190
Yes that would be good for consistency!

[2022-11-16 12:12] kimmoahola commented on #190
I confirm that it works great. Thank you for quick response!

[2022-11-16 21:27] liquidz commented on #190
Thanks for your confirmation!
I'll add same support for leiningen, shadow-cljs, etc.

[2022-11-17 16:11] p-himik commented on #108
Quoting Alex Miller from https://clojurians.slack.com/archives/C6QH853H8/p1668698984902689:

Sounds promising.

[2022-11-17 22:11] liquidz commented on #108
@p-himik Thanks for your information!

[2022-11-19 01:24] liquidz commented on #190
@kimmoahola Just released v2.2.962 #191

[2022-11-19 01:24] #190 closed

[2022-11-19 01:24] liquidz commented on #189
Closed by #191

[2022-11-19 01:24] #189 closed

[2022-11-19 01:25] liquidz commented on #190
FYI https://github.com/liquidz/antq/blob/main/doc/exclusions.adoc

[2022-11-21 06:02] kimmoahola commented on #190
Thank you! Tested it and it seems 🥇

[2022-11-21 06:25] kimmoahola opened #192 "Github actions are not upgraded"
I have the following GHA yml file:

[code]

My deps.edn looks like this:

[code]

When I run antq it will output:

[code]

But it will not update those two checkout steps.

And another issue is that the `test.yml` will get bogus content. The lint2 job get duplicated:

[code]

The original test.yml has two empty lines before `lint2:`. If I remove the other empty line then the content is not duplica

[2022-11-21 07:14] liquidz commented on #192
@kimmoahola Thanks for your reporting!
It should be a problem of [liquidz/rewrite-indented](https://github.com/liquidz/rewrite-indented).

I didn't have a good library to rewrite yaml, so I made a simple one.
This library rewrites texts based on indentations only, so the validity of yaml is not checked.

To fix this problem, we need to find or create a library that correctly parses and rewrites ya

[2022-11-23 22:52] lread opened #193 "minor inconsiquential source code typo: devleopment -> development"
I was wondering why antq was not reporting on the [latest pedestal release](https://clojars.org/io.pedestal/pedestal.log/versions/0.5.11-beta-1).
I discovered that antq does not report on `alpha` `beta` and `rc` releases.
Which seems very reasonable.

While reading antq source (which is very clean, @liquidz, a joy to read), I noticed a typo in a function name, hence this issue:
https://github.com/

[2022-11-24 20:24] liquidz commented on #193
@lread Oh, nice catch! Thanks for your reporting!